body {
    margin: 0px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar {
    display: flex;
    margin: 0px;
    background-color: #0096c7;
    color: #caf0f8;
    font-family: "Comic Sans MS";
    width: 100%;
    justify-content: center;
}
.nav-bar a {
    padding: 25px;
    cursor: pointer;
}
.nav-bar a:hover {
    color: #8dcdf1;
    transform: scale(1.5);
    font-weight: bold;
}
.active {
    color: #8dcdf1;
    transform: scale(1.5);
    font-weight: bold;
    pointer-events: none;
}
th, td {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #0096c7;
    border: 1px solid #0096c7;
}
td {
    font-weight: lighter;
    font-size: 16px;
    color: #2899c1;
}
.return-button {
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}
.loader {
    color: #0096c7;
}
