body {
    text-align: center;
    margin: 0px;
}
.heading {
    margin: 0px;
    padding: 25px;
    background-color: #0096c7;
    color: #caf0f8;
    font-family: "Comic Sans MS";
}
#game div {
    border: 1px solid #023e8a3d;
    border-radius: 5px;
    width: 15%;
    min-width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block;
}

#game img {
    border: 1px solid #023e8a3d;
    border-radius: 5px;
    width: 15%;
    min-width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block;
}
#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#game-container {
    display: none;
    margin-top: 40px;
}
.start-game-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.start-game-container p {
    font-family: "Comic Sans MS";
    font-size: 18px;
    color: #0096c7;
    margin: 10px;
}
.start-game-container input {
    padding: 5px;
    font-size: 15px;
    font-family: "Comic Sans MS";
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #0096c7;
    min-width: 90px;
    outline: none;
    color: #0096c7;
}
.start-game-container input:focus {
    outline: none;
}
.start-game-container select {
    margin: 20px;
    border: 1px solid #0096c7;
    color: #0096c7;
    background-color: #ffffff;
    padding: 10px 0px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.start-game-container select:active, select:focus {
    outline: none;
}
.start-game-button {
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
.restart-game {
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}
.global-scores {
    text-decoration: none;
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.global-scores:visited { text-decoration: none; }

.restart-game-wrapper {
    margin-top: 50px;
    display: none;
}
.restart-game-wrapper p {
    color: #0096c7;
    font-family: "Comic Sans MS";
}
.restart-button {
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.dont-restart {
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #f8caca;
    color: #c70000;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.score {
    color: #0096c7;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 18px;
}
.score-table {
    display: none;
    margin: 0px auto;
}
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: #0096c7;
    color: white;
}
th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #0096c7;
}
td {
    font-weight: lighter;
    color: #2899c1;
    font-size: 16px;
}
.play-again-game {
    display: none;
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-to-global-score {
    display: none;
}
.start-game-container .error {
    display: none;
    color: #c70000;
    font-size: 12px;
    font-family: "Comic Sans MS";
}
.congratulate {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px 15px 25px 15px;
    border: 1px solid #0096c7;
    box-shadow: 0px 0px 1px 1px #87d0f3;
}
.congratulate p {
    color: #0096c7;
    font-family: "Comic Sans MS";
    font-size: 15px;
}
.congratulate input {
    padding: 5px;
    font-size: 15px;
    font-family: "Comic Sans MS";
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #0096c7;
    min-width: 90px;
    outline: none;
    color: #0096c7;
}
.congratulate button {
    outline: none;
    border: none;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #caf0f8;
    color: #0096c7;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
.disable {
    pointer-events: none;
    opacity: 0.5;
}
.congratulate-error {
    color: red!important;
    font-family: "Comic Sans MS";
    font-size: 12px;
    margin: 0px;
}
.send-email-loader {
    color: #0096c7!important;
    display: none;
}
@media only screen and (max-width: 700px){
    #game div {
        width: 100px;
        min-width: auto;
        height: 100px;
        margin: 10px;
        display: inline-block;
    }
    #game img {
        width: 100px;
        min-width: auto;
        height: 100px;
        margin: 10px;
        display: inline-block;
    }
}
